name: Build Windows Executable

on:
  push:
    branches: [ main ]
  workflow_dispatch: # Allows you to run this manually from the Actions tab

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Python 3.13
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pygame pyinstaller

      - name: Package with PyInstaller
        run: |
          pyinstaller --noconsole --onefile --add-data "bg_musiic.mp3;." main.py -n BioSim

      - name: Upload Windows Binary
        uses: actions/upload-artifact@v4
        with:
          name: BioSim-Windows-EXE
          path: dist/BioSim.exe